export GCP_luffy_service_account_name=luffy-the-pirate
export GCP_luffy_service_account_credentials=../luffy-gcp.json

export GCP_folder_id=<GCP_PROJECT_ID>
export GCP_admin_project=shoparazzi-terraform-admin
export GCP_production_project=shoparazzi-production
export GCP_test_project=shoparazzi-test

export GCP_region=asia-south1